.section-specialty {
    border: 1px solid red;
    // height: 330px;
    position: relative;
    overflow: visible;
    padding-bottom: 60px;


    .Specialty-container {
        margin: 0 50px;
        display: flex;
        flex-direction: column;

        .Specialty-header {
            height: 60px;
            // border: 1px solid yellow;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-weight: bold;
                font-size: 22px;
            }

            .btn-section {
                float: right;
                display: block;
                padding: 5px 10px;
                border: none;
                outline: none;
                font-size: 15px;
                cursor: pointer;
                color: black;
                background: #ebebeb;
                text-transform: uppercase;


                &:hover {
                    color: white;
                    background: #4a90e2;
                }
            }

        }

        .Specialty-body {
            .slick-list {
                margin: 0 -5px;
            }

            .slick-slide>div {
                padding: 0 5px;
            }

            .Specialty-customize {
                // height: 330px;
                // border: 1px solid gray;
                text-align: center;

                .bg-img {
                    background: url('../../../assets/Specialty/CoXuongKhop.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-color: #eee;
                    aspect-ratio: 4 / 3;
                    // border: 1px solid rgb(60, 0, 255);
                }
            }
        }
    }
}